.for-outer-div {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-header {
  color: #ff8542;
  font-family: 'Roboto';
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.for-ul {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

  overflow: auto;

  width: 80vw;
}
@media screen and (min-width: 768px) {
  .for-header {
    font-size: 32px;
    margin-bottom: 40px;
  }
}
